body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  header {
      top: 0;
      left: 0;
      width: 100%;
      padding: 5px 50px;
      background-color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 99;
  }
  
  .logo {
      font-size: 2em;
      color: #fff;
      user-select: none;
  }
  
  .navigation {
      display: flex;
      align-items: center;
  }
  
  .navigation a {
      position: relative;
      padding: 8px 15px;
      font-size: 1.1em;
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      margin-left: 15px;
  }
  
  .navigation a:hover {
      background-color: #fff;
      border-radius: 6px;
      color: black;
  }
  
  .navigation a.active {
      background: transparent;
      border: 3px solid #fff;
      outline: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 1.1em;
  }
  
  .navigation a.active:hover {
      background-color: #fff;
      color: black;
  }
  
  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow columns to wrap to the next row if the screen is too small */
  }
  
  .column {
    flex: 0 0 23%; /* Set a fixed width for each column (adjust as needed) */
    margin: 0 16px; /* Add some margin to separate the columns */
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
    margin-bottom: 30px;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  
  input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #555;
  }
  
  .center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .contact-container {
    width: 50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .card img {
    width: 100%; /* Ensure the image takes up the entire width of its container */
    height: 300px; /* Set a fixed height for all images (adjust the value as needed) */
  }
  
  .footer {
      background-color: #11101b;
      color: white;
      text-align: center;
      width: 100%;
      padding: 10px;
      margin-top: auto;
  }
    
    .footer p {
        position: static;
        text-align: center;
        color: white;
        font-size: 0.8em;
        padding: 10px;
    } 