.container-content {
      text-align: center;
      padding: 40px;
      background-color: white;
  }
  
  .button {
      position: relative;
      padding: 8px 15px;
      font-size: 1.1em;
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      background-color: black;
      border-radius: 6px;
      cursor: pointer;
  }
  
  /* Add hover style for the button */
  .button:hover {
      background-color: #fff;
      color: black;
      border: 3px solid black;
  }
  

.carousel-item img {
    height: 700px; /* Set the desired height for the images */
    width: auto; /* Let the width adjust automatically to maintain the aspect ratio */
    object-fit: cover; /* Ensure the image covers the entire container */
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background to the captions */
    padding: 10px; /* Add some padding for better readability */
}

.carousel-caption h4 {
    font-size: 2em; /* Increase the font size of the caption title */
    margin-bottom: 10px; /* Add spacing between title and text */
}

.carousel-caption p {
    font-size: 1.2em; /* Increase the font size of the caption text */
}